@model SportsNews.Services.Models.Videos.AllVideosViewModel

@{
    this.ViewData["Title"] = "Videos";
}

@if (@Model.Videos.Any())
{
    <div class="row masonry-wrap">
        <div class="masonry">

            <div class="grid-sizer"></div>
            @foreach (var video in Model.Videos)
            {
                <article class="masonry__brick entry format-standard" data-aos="fade-up">

                    <div class="entry__thumb">
                        <iframe width="300" height="300" src="@video.Url" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    @if (this.User.IsInRole("Administrator"))
                    {
                        <form asp-controller="Videos" asp-action="Delete">
                            <div class="form-group">
                                <input type="hidden" name="id" value="@video.ArticleId"/>
                                <input type="hidden" name="videoId" value="@video.Id"/>
                                <input type="submit" value="Delete Video" class="btn btn-default" onclick="return confirm('Are you sure you wish to delete ?');"/>
                            </div>
                        </form>
                    }
                </article>
                <!-- end article -->
            }

        </div> <!-- end masonry -->
        @if (this.User.IsInRole("Administrator"))
        {
            <a asp-controller="Videos" asp-action="Create" asp-route-id="@Model.Videos.FirstOrDefault().ArticleId" class="btn btn-info">
                <i class="glyphicon glyphicon-pencil"></i> Add Video
            </a>
        }
        <a asp-controller="Articles" asp-action="Details" asp-route-id="@Model.Videos.FirstOrDefault().ArticleId" class="btn btn-info">
            <i class="glyphicon glyphicon-pencil"></i> Back to Article
        </a>
    </div>
    <!-- end masonry-wrap -->
}
else
{
    <h1>No videos for this article.</h1>
}