@model SportsNews.Services.Models.Categories.AllCategoriesViewModel
@{
    ViewData["Title"] = "About";
    Layout = "_LayoutHome";
}
<div class="pageheader-content row">
    <div class="col-full">

        <div class="featured">

            <div class="featured__column featured__column--big">
                <div class="entry" style="background-image:url('@Model.Categories.FirstOrDefault(x => x.Name == "Football").Image');">

                    <div class="entry__content">
                        <span class="entry__category"><a asp-controller="Articles" asp-action="AllByCategory" asp-route-id="@Model.Categories.FirstOrDefault(x => x.Name == "Football").Id">Football</a></span>

                        <h1><a title="">See Latest News In The Football World</a></h1>
                    </div> <!-- end entry__content -->

                </div> <!-- end entry -->
            </div> <!-- end featured__big -->

            <div class="featured__column featured__column--small">

                <div class="entry" style="background-image:url('@Model.Categories.FirstOrDefault(x => x.Name == "Basketball").Image');">

                    <div class="entry__content">
                        <span class="entry__category"><a asp-controller="Articles" asp-action="AllByCategory" asp-route-id="@Model.Categories.FirstOrDefault(x => x.Name == "Basketball").Id">Basketball</a></span>

                        <h1><a title="">See Latest News In The Basketball World</a></h1>
                    </div> <!-- end entry__content -->

                </div> <!-- end entry -->

                <div class="entry" style="background-image:url('@Model.Categories.FirstOrDefault(x => x.Name == "Martial Arts").Image');">

                    <div class="entry__content">
                        <span class="entry__category"><a asp-controller="Articles" asp-action="AllByCategory" asp-route-id="@Model.Categories.FirstOrDefault(x => x.Name == "Martial Arts").Id">Ufc</a></span>

                        <h1><a title="">Information About The Biggest Company For Mixed Martial Arts</a></h1>
                    </div> <!-- end entry__content -->

                </div> <!-- end entry -->
                <a asp-controller="Categories" asp-action="Index" class="btn btn-info">
                    <i class="entry__category entry__content"></i>  See All Categories
                </a>
            </div> <!-- end featured__small -->
        </div> <!-- end featured -->
    </div> <!-- end col-full -->
</div> <!-- end pageheader-content row -->
