@*@model SportsNews.Services.Models.Home.IndexViewModel
        @{
            ViewData["Title"] = "All Categories";
        }

        @foreach (var article in Model.Articles)
        {
        <div class="panel-footer">
            @article.CategoryName
            <a class="btn btn-default btn-sm" asp-controller="Articles" asp-action="AllByCategory" asp-route-id="@article.CategoryId">View Articles</a>
            <a class="btn btn-default btn-sm" asp-controller="Articles" asp-action="Details" asp-route-id="@article.Id">Details</a>
        </div>
        }
    <div class="row narrow">
        <div class="col-full s-content__header" data-aos="fade-up">
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>

    <div class="row masonry-wrap">
        <div class="masonry">

            <div class="grid-sizer"></div>
            @foreach(var article in Model.Articles)
            {
                <article class="masonry__brick entry format-standard" data-aos="fade-up">

                    <div class="entry__thumb">
                        <a asp-controller="Articles" asp-action="AllByCategory" asp-route-id="@article.CategoryId" class="entry__thumb-link">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/UFC_logo.svg/2000px-UFC_logo.svg.png"
                                  alt="">
                        </a>
                    </div>

                    <div class="entry__text">
                        <div class="entry__header">


                            <h1 class="entry__title"><a href="raheem.html">@article.CategoryName</a></h1>

                        </div>
                    </div>

                </article> <!-- end article -->
            }
        </div> <!-- end masonry -->
    </div> <!-- end masonry-wrap -->*@

@model SportsNews.Services.Models.Categories.AllCategoriesViewModel
@{
    ViewData["Title"] = "About";
    Layout = "_LayoutHome";
}
<div class="pageheader-content row">
    <div class="col-full">

        <div class="featured">

            <div class="featured__column featured__column--big">
                <div class="entry" style="background-image:url('@Model.Categories.FirstOrDefault(x => x.Name == "Football").Image');">

                    <div class="entry__content">
                        <span class="entry__category"><a asp-controller="Articles" asp-action="AllByCategory" asp-route-id="@Model.Categories.FirstOrDefault(x => x.Name == "Football").Id">Football</a></span>

                        <h1><a title="">See Latest News In The Football World</a></h1>
                    </div> <!-- end entry__content -->

                </div> <!-- end entry -->
            </div> <!-- end featured__big -->

            <div class="featured__column featured__column--small">

                <div class="entry" style="background-image:url('@Model.Categories.FirstOrDefault(x => x.Name == "Basketball").Image');">

                    <div class="entry__content">
                        <span class="entry__category"><a asp-controller="Articles" asp-action="AllByCategory" asp-route-id="@Model.Categories.FirstOrDefault(x => x.Name == "Basketball").Id">Basketball</a></span>

                        <h1><a title="">See Latest News In The Basketball World</a></h1>
                    </div> <!-- end entry__content -->

                </div> <!-- end entry -->

                <div class="entry" style="background-image:url('@Model.Categories.FirstOrDefault(x => x.Name == "MartialArts").Image');">

                    <div class="entry__content">
                        <span class="entry__category"><a asp-controller="Articles" asp-action="AllByCategory" asp-route-id="@Model.Categories.FirstOrDefault(x => x.Name == "MartialArts").Id">Ufc</a></span>

                        <h1><a title="">Information About The Biggest Company For Mixed Martial Arts</a></h1>
                    </div> <!-- end entry__content -->

                </div> <!-- end entry -->
                <a asp-controller="Categories" asp-action="Index" class="btn btn-info">
                    <i class="entry__category entry__content"></i>  See All Categories
                </a>
            </div> <!-- end featured__small -->
        </div> <!-- end featured -->
    </div> <!-- end col-full -->
</div> <!-- end pageheader-content row -->
