@model SportsNews.Services.Models.Articles.ArticleDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ArticleDetailsViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
    
    <a asp-controller="Articles"asp-action="Update" asp-route-id="@Model.Id" class="btn btn-info">  
        <i class="glyphicon glyphicon-pencil"></i>  Edit  
    </a>  
    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger" onclick ="return confirm('Are you sure you wish to delete ?');">  
        <i class="glyphicon glyphicon-trash"></i>  Delete  
    </a> 
</div>
